.logo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 300px 100px;
  background-image: url("https://images-platform.99static.com/eeYoSsbcEsWFDImcgf8ASbSm72M=/0x0:2009x2009/500x500/top/smart/99designs-contests-attachments/95/95345/attachment_95345998");
}
.site-layout .site-layout-background {
  background: #fff;
}
